{%extends 'student/student_layout.html'%}
{% load static %}
{%block content%}
	<!-- Left Sidebar Start -->
	<nav class="vertical_nav">
		<div class="left_section menu_left" id="js-menu" >
			<div class="left_section">
				<ul>
					<li class="menu--item">
						<a href="{% url 'student:stu_index'%}" class="menu--link" title="Home">
							<i class='uil uil-home-alt menu--icon'></i>
							<span class="menu--label">Home</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="{% url 'student:stu_courses'%}" class="menu--link" title="Live Streams">
							<i class='uil uil-book-alt menu--icon'></i>
							<span class="menu--label">Courses</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="#" class="menu--link active" title="Explore">
							<i class='uil uil-book-alt menu--icon'></i>
							<span class="menu--label">Purchased Courses</span>
						</a>
					</li>
					
					
					<li class="menu--item">
						<a href="{% url 'student:stu_message'%}" class="menu--link" title="Categories">
							<i class='uil uil-comments menu--icon'></i>
							<span class="menu--label">Messages</span>
						</a>
					</li>
					<!-- <li class="menu--item  menu--item__has_sub_menu">
						<label class="menu--link" title="Tests">
						  <i class='uil uil-clipboard-alt menu--icon'></i>
						  <span class="menu--label">Tests</span>
						</label>
						
					</li> -->
					<li class="menu--item">
						<a href="{% url 'student:stu_certificate'%}" class="menu--link" title="Categories">
							<i class='uil uil-award menu--icon'></i>
							<span class="menu--label">Certificates</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="{% url 'student:stu_statement'%}" class="menu--link" title="Categories">
							<i class='uil uil-file-alt menu--icon'></i>
							<span class="menu--label">Statements</span>
						</a>
					</li>
				</ul>
			</div>
		
			<div class="left_section pt-2">
				<ul>
					<li class="menu--item">
						<a href="{% url 'student:stu_setting'%}" class="menu--link" title="Setting">
							<i class='uil uil-cog menu--icon'></i>
							<span class="menu--label">Setting</span>
						</a>
					</li>
					<!-- <li class="menu--item">
						<a href="{% url 'student:stu_help'%}" class="menu--link" title="Help">
							<i class='uil uil-question-circle menu--icon'></i>
							<span class="menu--label">Help</span>
						</a>
					</li> -->
					
				</ul>
			</div>
			<div class="left_footer">
				
				<div class="left_footer_content">
					<p>© 2020 <strong>Qlearn</strong>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</nav>
	<!-- Left Sidebar End -->
	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">	
			<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-book-alt"></i>Purchased Courses</h2>
					</div>					
				</div>				
				<div class="row">
					<!-- <div class="col-xl-12 col-lg-8">
						<div class="section3125">
							<div class="explore_search">
								<div class="ui search focus">
									<div class="ui left icon input swdh11">
										<input class="prompt srch_explore" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
										<i class="uil uil-search-alt icon icon2"></i>
									</div>
								</div>
							</div>							
						</div>							
					</div> -->
					
					<div class="col-md-12">
						<div class="_14d25">
							<div class="row">
								
								
								{% for x,y,z in zippy %}
								
								<div class="col-lg-3 col-md-4">
									<div class="fcrse_1 mt-30">
										<a href="{% url 'student:stu_purchase_courses_details' z %}" class="fcrse_img">
											<img src="../media/{{y}}" alt="" style="height: 180px;">
											<div class="course-overlay">
												<!-- <div class="badge_seller">Bestseller</div> -->
												<!-- <div class="crse_reviews">
													<i class="uil uil-star"></i>4.5
												</div> -->
												<span class="play_btn1"><i class="uil uil-play"></i></span>
												<!-- <div class="crse_timer">
													25 hours
												</div> -->
											</div>
										</a>
										<div class="fcrse_content">
											<!-- <div class="eps_dots more_dropdown">
												<a href="#"><i class="uil uil-ellipsis-v"></i></a>
												<div class="dropdown-content">
													<span><i class='uil uil-edit-alt'></i>Edit</span>
													<span><i class="uil uil-trash-alt"></i>Delete</span>
 -->													<!-- <span><i class='uil uil-ban'></i>Not Interested</span>
													<span><i class="uil uil-windsock"></i>Report</span> -->
												<!-- </div>																											
											</div> -->
											<!-- <div class="vdtodt">
												<span class="vdt14">109k views</span>
												<span class="vdt14">15 days ago</span>
											</div> -->
											<a href="{% url 'student:stu_purchase_courses_details' z %}" class="crse14s">{{x}}</a>
											<!-- <a href="#" class="crse-cate">Web Development | Python</a> -->
											<!-- <div class="auth1lnkprce"> -->
												<!-- <p class="cr1fot">By <a href="#">John Doe</a></p> -->
												<!-- <a href="create_new_course.html" class="upload_btn">Buy Course</a> -->

												<!-- <div class="prce142">{{x.course_price}} <span class="iconify" data-icon="uil-rupee-sign" data-inline="false"></span></div> -->
											<!-- </div> -->
										</div>
									</div>													
								</div>
								
								{% endfor %}
								<!-- <div class="col-md-12">
									<div class="main-loader mt-50">													
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>																										
									</div>
								</div> -->
							</div>				
						</div>				
					</div>				
				</div>
			</div>
		</div>
 {%endblock%}