{%extends 'student/student_layout.html'%}
{% load static %}
{%block content%}
	<!-- Left Sidebar Start -->
	<nav class="vertical_nav">
		<div class="left_section menu_left" id="js-menu" >
			<div class="left_section">
				<ul>
					<li class="menu--item">
						<a href="{% url 'student:stu_index'%}" class="menu--link" title="Home">
							<i class='uil uil-home-alt menu--icon'></i>
							<span class="menu--label">Home</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="{% url 'student:stu_courses'%}" class="menu--link" title="Live Streams">
							<i class='uil uil-book-alt menu--icon'></i>
							<span class="menu--label">Courses</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="{% url 'student:stu_purchased_courses'%}" class="menu--link" title="Explore">
							<i class='uil uil-book-alt menu--icon'></i>
							<span class="menu--label">Purchased Courses</span>
						</a>
					</li>
					
					
					<li class="menu--item">
						<a href="{% url 'student:stu_message'%}" class="menu--link" title="Categories">
							<i class='uil uil-comments menu--icon'></i>
							<span class="menu--label">Messages</span>
						</a>
					</li>
					<!-- <li class="menu--item  menu--item__has_sub_menu">
						<label class="menu--link" title="Tests">
						  <i class='uil uil-clipboard-alt menu--icon'></i>
						  <span class="menu--label">Tests</span>
						</label>
						
					</li> -->
					<li class="menu--item">
						<a href="{% url 'student:stu_certificate'%}" class="menu--link" title="Categories">
							<i class='uil uil-award menu--icon'></i>
							<span class="menu--label">Certificates</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="#" class="menu--link active" title="Categories">
							<i class='uil uil-file-alt menu--icon'></i>
							<span class="menu--label">Statements</span>
						</a>
					</li>
				</ul>
			</div>
		
			<div class="left_section pt-2">
				<ul>
					<li class="menu--item">
						<a href="{% url 'student:stu_setting'%}" class="menu--link" title="Setting">
							<i class='uil uil-cog menu--icon'></i>
							<span class="menu--label">Setting</span>
						</a>
					</li>
					<!-- <li class="menu--item">
						<a href="{% url 'student:stu_help'%}" class="menu--link" title="Help">
							<i class='uil uil-question-circle menu--icon'></i>
							<span class="menu--label">Help</span>
						</a>
					</li> -->
					
				</ul>
			</div>
			<div class="left_footer">
				
				<div class="left_footer_content">
					<p>© 2020 <strong>Qlearn</strong>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</nav>
	<!-- Left Sidebar End -->
	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-file-alt"></i> Statements</h2>
					</div>					
				</div>				
				<div class="row">					
					
					<div class="col-lg-12 col-md-12">
						<div class="table-responsive mt-30">
							<table class="table ucp-table earning__table" id="content-table">
								<thead class="thead-s">
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Order ID</th>
										
										<th scope="col">Title</th>
										<th scope="col">Amount</th>																		
										<th scope="col">Invoice</th>									
									</tr>
								</thead>
								<tbody>
									{% for x in buyed_course %}
									{% for y in details %}
									{% if x.course_id == y.id %}
									<tr>										
										<td>{{x.buy_date}}</td>	
										<td>{{x.id}}</td>		
										<td>{{y.course_title}}</td>	
										<td><span class="iconify" data-icon="uil-rupee-sign" data-inline="false"></span> {{y.course_price}}</td>		
										<td><a href="{% url 'student:stu_invoice' x.id %}">View</a></td>	
									</tr>
									{% endif %}
									{% endfor %}
									{% endfor %}
								</tbody>				
							</table>
						</div>
				
					</div>
				</div>
			</div>
		</div>
 {%endblock%}